.single-fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.single-fact-header {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 80%;
    align-items: center;
}