.home-container {
    padding: 50px;
    display: flex;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 60px;
    margin-bottom: 50px;
}

.search-icon {
    width: 50px;
    height: 55px;
}

.fact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.all-facts-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}