.nav-link {
    color: #ffffff;
    display: block;
    font-weight: 00;
    letter-spacing: .1rem;
    text-decoration: none;
}

.nav-link-selected {
    color: #ffffff;
    display: block;
    font-weight: 00;
    letter-spacing: .1rem;
    text-decoration: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
}