.simple-fact-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    background-color: #1976d2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    cursor: pointer;
}